<div style = "width : 720px; margin: 0 auto;">
  <div style = "margin : 0 auto; text-align: center;">
  <%= image_tag "timetable.png", size: "505x666" %>
  </div>
  <div style = "text-align: center;">
  <%= link_to '강의시간표 쓰러 가기', first_login_path, class: 'btn btn-warning', :style => 'font-size : 30px' %>
  </div>
</div>