

	<%= link_to "New_Lecture", new_lecture_path %>

	<div style = "width:50%">
		<%= form_tag import_lectures_path, multipart: true do %>
			<%= file_field_tag :file %>
			<%= submit_tag "Import" %>
		<% end %>
	</div>
