
        		<table id="search_table" class="table nogap" >
         			<thead>
      
       				  <tr class> 

         			  <th>강의명</th>
           			  <th>교수명</th>
            		  <th>강의시간</th>
           
         			  </tr>
         			</thead>
    	 		    <tbody>
    	 		    <% @lectures.each do |lec| %>

	    	 		     <tr class="lovelyrow" onclick="painttable(this)" onmouseover="OnMouseIn(this)" onmouseout="OnMouseOut(this)">     
						 <td><%=lec.subject%></td>
						 <td><%=lec.professor%></td>
						 <td><%=lec.lecturetime%></td>
						 </tr>
					<%end%>
                    
					
					 </tbody>

    			</table>
                  <%= will_paginate @lectures%>
    		
