

<div class = "col-md-3" id = "up_down_mgn_bottom">


	<div id = "uptachi_form">
		<span class = "xtachi_num" id="uptachi_num"><%= @lecture.uptachi.to_s %></span>
		<%= render 'lectures/uptachi' %>
	</div>
</div>
<div class = "col-md-3" id = "up_down_mgn_bottom">
	<div id = "hatachi_form">
		<span class = "xtachi_num" id="hatachi_num"><%= @lecture.hatachi.to_s %></span>
		<%= render 'lectures/hatachi' %>			
	</div>
</div>
<div class= "col-md-2"></div>
</div>
<!-- 로그인된 유저에게만 valuation 검사  -->











