  <ul class="collection">

    <a href = "#" class = "collection-item" style = "padding : 0">
      <li class="collection-item" style = "background-color : transparent">
        <div class="title">Capstone 설계 졸업작품 연계</div>
        <span class = "professor">양효식</span>
        <span class = "lecturetime">화목 15:00-18:00</span>
        <span style = "float:right;"> 컴퓨터공학과 </span>
      </li>
    </a>
  </ul>


  <ul class="pagination">
    <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
  </ul>
