<% if @timetable.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
     
    <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
          <% if msg.include?("Name can't be blank") %>
            <li> 시간표 이름을 입력해주세요! </li>
          <% elsif msg.include?("Name is too long") %>
            <li> 시간표 이름은 10글자 이내로 만들어주세요ㅠㅡㅠ </li>
          <% end %>

      <% end %>
    </ul>
    </div>
    
  </div>
<% end %>


