<div id="notice">
<p>
	실제 강의를 듣는데 도움이 되는 유익한 정보를 제공하고, 악성정보를 거르기 위해 아뭐듣지 운영진의 자체적인 검토 및 학우분들의 피드백 혹은 페이스북 메세지 남기기를 통하여 정말 도움이 되는 강의평가만을 담고 있습니다.
</p>
<p>
	성의 없는 평가를 작성한 것으로 적발 된 사용자는 제재가 가해질 수 있으니 참고 바랍니다.
</p>
</div>