	<table class="table table-striped target" id = "timetable" style = "border : 1px solid #eeeeee">
      <thead>
      	<!-- 7열 -->
        <tr class = "t_head" >
          <th style = "border : 0"></th>
          <th style = "text-align : center">월</th>
          <th style = "text-align : center">화</th>
          <th style = "text-align : center">수</th>
          <th style = "text-align : center">목</th>
          <th style = "text-align : center">금</th>
          <th style = "text-align : center">사강</th>
        </tr>
      </thead>

      <tbody>
      <tr class = "r1">
          <th style = " padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    height: 22px;
    border-top-width: 0;
    background: white;">
            <div class = "time_text">08</div>
          </th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "r2">
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "r1">
          <th style = " padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    height: 22px;
    border-top-width: 0;
    background: white;">
            <div class = "time_text">09</div>
          </th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "r2">
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">10</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">11</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">12</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">13</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">14</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">15</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">16</div></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>	
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">17</div></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>        
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">18</div></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">19</div></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style = "
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 22px;
    border-top-width: 0px;
    background: white;"><div class = "time_text">20</div></th>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
		</tbody>
	</table>