<div class = "container">
  <div class = "section">
        <div class = "row">
          <div class = "col m8 offset-m2 center-align">
            <ul class="collection">
                <li class="collection-item">
                  강의평가 2번 작성 후, 강의평가 열람 가능합니다.
                </li>
          </div>
        </div>
  </div>
</div>
