@font-face {
  //font-family: 'bmfont';
  //src:font-url('BMHANNA_11yrs_ttf.ttf');
  //font-weight: normal;
  //font-style: normal;
}
body
{
  background-color : #fcfcfc;
  font-size : 14pt;
}
.container
{
  max-width : 980px;
  width:100%;
}

// @media only screen and (min-width: 990px) {
//   .row .col.l4{
//
//   }
// }
// @media only screen and (min-width: 600px) {
//   font-size:3.5rem;
// }
//















.main_blk
{
  background : url(asset-path('main_view.png')) no-repeat center center;
  height:500px;
}
.title_blk
{
  margin-top:30px;
}
.info_blk
{
  border-top: gray solid 2px;
  margin-top: 50px;
  padding-top:50px;
}


.row-margin-top
{
  margin-top : 50px;
}


#content
{
  min-height : 800px;
}


// 8 12
.main_image_blk{
  width: 100%;
  min-height:612px;
}
#box{
  position: absolute;
  top: 430px;
  width: 100%;
  /*margin-top: -200px;*/
}
.main_image__text{
  strong {
    @media only screen and (min-width: 601px) {
      font-size:2.5rem;
    }

    @media only screen and (min-width: 993px) {
      font-size:3rem;
    }
    display : block;
    font-size: 1.8rem;
  }
  color: white;
  position:absolute;
  top:30%;
  left:0;
  width:100%;
}


.main_image__btn{
  margin-top: 20px;
}


#mtext2{
  margin-top: -13px;
}

.home__number_int
{
  color : #0071a6;
  // font-size : 50pt;
  @media only screen and (min-width: 601px) {
    font-size:4rem;
  }

  @media only screen and (min-width: 993px) {
    font-size:5rem;
  }
  font-size:3.5rem;
}

.home__number_text
{
  @media only screen and (min-width: 601px) {
    font-size:1.3rem;
  }
}


.home__info
{

}

.home__detail_info
{
  line-height: 1.6;
  margin-top:5px;
}


.promo_school_box{
  // background-color:#0071a6;
  // color: white;
  font-size: 15pt;
  // padding-top: 78px;
  // margin-top: 120px;
  // padding-bottom: 6px;
}
.promo_box{
  // background-color: #008bcc;
  // color: white;
  font-size: 15pt;
  // padding-top: 80px;
  // margin-top: 120px;
  // padding-bottom: 80px;
}

.promo_box__count{
  font-size:30pt;
}
#rev_num{
  background-color: #009ce6;
}
#main_img{
  padding-bottom: 6px;
  padding-top:80px;
}
