@font-face {
  font-family: 'bmfont';
  src:font-url('BMHANNA_11yrs_ttf.ttf');
  font-weight: normal;
  font-style: normal;
}
body
{
  font-family: 'bmfont';
}

nav .brand-logo
  {
    margin-left : 100px;
  }
