// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.detail_lecture_box{
  width:1000px;
  margin : 0 auto;
  padding-top :0px;
	
	/* 평균 수치 보여주는 row */
	.lec_average_row{
	  	width:720px;
	  	margin:0 auto;
	    padding-bottom: 20px;
	    background-color: white;
	    border-bottom : 2px solid $gray-lighter;
		/* 별점 section */
		.total_star_section {
			width:50%;
			height:50px;
			display:inline;
			float:left;
			.total_text{
					float:left;
					margin-right:20px;
				}
				.left{
					width:40px;
					float:left; 
					margin-right : 10px; 
					margin-top:5px;
				}
				.right{
					font-size:18px;
					float:right;
					width: 20%; 
					text-align:left; 
					margin-top:10px;
				}
		}

		.professor_section{
		    border-bottom: 2px solid $gray-lighter;
		    margin-bottom:20px;
  		}

  		/* progress_bar section */
    	.valuation_section{
			width : 50%;
			float:left; 
			display:inline; 
			height : 50px;

			.left{
				width:40px;
				float:left; 
				margin-right : 5px; 
				margin-top:15px;
			}
			.right{
				font-size: 18px;
				float:right;
				width: 20%; 
				text-align:left; 
				margin-top:10px;
			}
			#acc_progress{
				width : 60%;
				margin-top:15px;
			}
		}
	}	
		.valuation_contents {
			background-color : white;
			padding-top : 15px;
			padding-bottom : 15px;
			cursor : pointer;
			border-bottom : 1.0px solid black;
			margin-bottom:20px;
		}  
		  .timestamp{
			color:#AAA;
		}
		.name_sentence {
		    font-weight:150;
		    color:#999;
		}
		.edit_section{
		    padding-top:10px;
		    padding-bottom:10px;
		    text-align:right;
		    margin-top : 15px;
		}
 	

  .lecture_valuation{
    padding-top:20px;
  }

  /* 이 강의에 대한 평가'들' row */
.valuations_row{
  	width:720px;
  	margin:0 auto;
  	
  	.valuation_text_section{
  		display:inline-block;
  		width:300px;
  		vertical-align: top;
  		margin-right:40px;
  	}
  	.valuation_progress_section{
  		display:inline-block;
  		width:350px;
  	}
}

}
































#time_table
{
	display: table;

	border:solid #000 !important;
	border-width: 0 0 1px !important;
	border-top: hidden !important;
	border-bottom: hidden !important;
}

#timetable_td_time
{

	
}