// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
BEM
*/
.lecture_blk
{
  height : 200px;
}

.lecture__card
{
  min-height: 200px;
  width: auto;
  // max-width: 20px;
  // max-height: 20px;
}

.card__valuation-text
{
  font-size : 1.1em;
  font-style : italic;
}
