// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg_1       : #f2d5ef;
$bg_2       : #fcdfcd;
$bg_3       : #fdf9d5;
$bg_4       : #e4f0cd;
$bg_5       : #cdf0e6;
$bg_6       : #e0ecfb;
$bg_7       : #bee3f2;
$bg_8       : #dfd7ef;
$bg_9       : #fcdfdf;
$bg_10      : #dcdcdc;


$ft_1       : #86607c;
$ft_2       : #b08265;
$ft_3       : #9a924d;
$ft_4       : #50784a;
$ft_5       : #548677;
$ft_6       : #52719a;
$ft_7       : #708993;
$ft_8       : #686078;
$ft_9       : #e78282;
$ft_10       : #898989;

$hover_gray   : #f9f9f9;


/*
////////////////////////
////
//// BEM
////
////////////////////////
*/
.timetable_tbody
{
  font-size:0.9em;
}

.timetable--td
{
  width:100px;
}

.timetable__td--active
{

  background-color : #9e9e9e;
  // Set the border to 1px double red.
  // A 1px-wide "double" border looks identical to a "solid",
  // but has higher precedence in collapsed border computation.
  border:1px double #9e9e9e !important;
}

.timetable__td--has-lec
{
  // background-color : $bg_1;
  // color : $ft_1;
  position : relative;

  //TODO: height 절대수치로 줘도 될까?
  height : 32px;
}

.timetable__td--duplicate
{
  outline : red solid 1px;
  color : red !important;
}
.timetable__span
{
  display : block;
  word-break: break-all;
}
.timetable__th--center
{
  text-align:center;
}


.td--c0{
    background-color : $bg_1 !important;
    color : $ft_1;
}
.td--c1{
    background-color : $bg_2 !important;
    color : $ft_2;
}
.td--c2{
    background-color : $bg_3 !important;
    color : $ft_3;
}
.td--c3{
    background-color : $bg_4 !important;
    color : $ft_4;
}
.td--c4{
    background-color : $bg_5 !important;
    color : $ft_5;
}
.td--c5{
    background-color : $bg_6 !important;
    color : $ft_6;
}
.td--c6{
    background-color : $bg_7 !important;
    color : $ft_7;

}
.td--c7
{
    background-color : $bg_8 !important;
    color : $ft_8;

}
.td--c8
{
    background-color : $bg_9 !important;
    color : $ft_9;

}
.td--c9
{
    background-color : $bg_10 !important;
    color : $ft_10;
}
.timetable__span--del
{
  background : url(asset-path('ic_clear_black_24dp_1x.png'));
  width : 24px;
  height : 24px;
  right : 0;
  top : 0;
  cursor : pointer;
  position : absolute;
  display : none;
}

.timetable__span--info
{
  background : url(asset-path('ic_info_outline_black_24dp_1x.png'));
  width : 24px;
  height : 24px;
  right : 0;
  top : 20px;
  cursor : pointer;
  position : absolute;
  display : none;
}
.timetable__hour-text{
    position: relative;
    top: -1.2em;
    text-align: right;
    height: 20px;
}



.search-blk
{
  background : url(asset-path('ic_info_outline_black_24dp_1x.png'));
  width : 24px;
  height : 24px;
  cursor : pointer;
  top: 5px;
  right: 20px;
  cursor:pointer;
  position:absolute;
  display : none;
}


.search_collection
{
  min-height:600px;
}

.collection__total
{
  font-size : 0.8em;
}

.collection-item
{
  position :relative;
}
.collection li:hover
{
  background-color: #e0e0e0;
  cursor: pointer;
}
.collection__extra_info
{
  display:inline-block;
}
.collection-font
{
  font-size : 0.9em;
}
.collection__professor
{
  padding-right:15px;
}




.cart
{
  border-top : 1px solid #d0d0d0;
  font-size : 0.8em;
}

.cart__td
{
  text-align : center !important;
}

.cart__td--del
{
  background : url(asset-path('ic_clear_black_24dp_1x.png'));
  width : 24px;
  height : 24px;
  cursor : pointer;
  display: inline-block;
}

// materialize td, th padding 오버라이딩
// 기존 padding : 15 8;
td, th
{
  padding : 8px !important;
}
