// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg_1       : #f2d5ef;
$bg_2       : #fcdfcd;
$bg_3       : #fdf9d5;
$bg_4       : #e4f0cd;
$bg_5       : #cdf0e6;
$bg_6       : #e0ecfb;
$bg_7       : #bee3f2;
$bg_8       : #dfd7ef;
$bg_9       : #fcdfdf;
$bg_10      : #dcdcdc;


$ft_1       : #86607c;
$ft_2       : #b08265;
$ft_3       : #9a924d;
$ft_4       : #50784a;
$ft_5       : #548677;
$ft_6       : #52719a;
$ft_7       : #708993;
$ft_8       : #686078;
$ft_9       : #e78282;
$ft_10       : #898989;

$hover_gray   : #f9f9f9;


.row_container
{
    width : 1200px;
    margin : 0 auto;
}

.time_cell{
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    height: 29px;
    border-width: 0;
    background: white;
}
.time_text{
    position: relative;
    top: -0.7em;
    text-align: right;
}

.lessons td {
    width : 1000px;
}

.upper-group{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    float:left; 
    display:inline;
}
.left-container{
    width:17%;
    float:left;
    margin-left:2%;
}
.btn-add{
    background-color:#095fb5 !important;
    color:white !important;
    min-width:90px;
    margin-right:0px;
    border-radius:0 !important;
    float:left;
    border:none !important; 
}
.btn-copy{
    min-width:90px;
    float:left;
    background-color:#555555 !important;
    color:white !important;
    border-radius:0 !important;
    border:none !important;
}

.timetable_dropdown{
    max-width:90px;
    margin-left:0px;
    margin-right: 0px;
}
.btn-share{
    background-color:#009ce6 !important; 
    max-width:90px;
    border-radius:0 !important;
    float:left;
    border:none !important;
}
.btn-del{
    min-width:90px;
    color:white;
    background-color:#e00000 !important;
    border-radius:0 !important;
    float:left !important;
    border:none;
    max-height:32px;
}
.center-container{
    width:50%;
    float:left;
    margin-top:5%;
}
.right-container
{
    width:35%;
    float:left;
    padding-left:2%;
    margin-bottom:20px;
    
    .search_box
    {
        width:100%;
        float:right;
        margin-bottom:20px !important;
    }
    .list-group
    {
        position : relative;
        border:1px solid #f5f5f5;
        margin-bottom:0 !important;
        clear:both;
        width:80%;
        padding-left : 15px;
        padding-bottom : 3px;
        .subject
        {
            font-size:15px;
            font-weight:bold;
            margin-bottom:3px;
            width : 80%;
        }
        .department_open
        {
            position:absolute;
            bottom:-2px;
            right:0px; 
            display:inline; 
            text-align:right;
            
            span
            {
                background-color : gray;
                padding : 0.2em 0.3em 0 0.3em;
                font-size : 0.85em;
                color : white;
            }
        }
        .btn
        {
            padding:0;
        }
        .icon-info
        {
            color:gray; 
            font-size :14px;
        }
    }
    .list-group:hover
    {
        background-color : $hover_gray;
    }

}



.rank-form{
    text-align:center; 
    display:inline
}
.rank-textf{
    float:left;
    border-radius:0 !important;
    min-width:220px;
    max-width:440px;
    margin-bottom:21px;
}
.btn-search{
    min-height:34px;
    border-radius:0 !important;
    border:none !important;
    float:left;
    margin-bottom:20px;
    background-color:#2db1ee !important;
    width : 55px;
}
.detail-form{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   margin: 0 auto;
   margin-bottom:20px;
    width: 50% !important;
    
}
.btn-detailsearch{
    min-height:34px;
    border-radius:0 !important;
    border:none !important;
    float:right;
    margin-top:10px;
    margin-bottom:20px;
    margin-right:10px;
    background-color:#2db1ee !important;
    width : 55px;   
}
.btn-detailclose{
    min-height:34px;
    border-radius:0 !important;
    border:none !important;
    float:right;
    margin-top:10px;
    margin-bottom:20px;
    background-color:#95a5a6 !important;
    width : 55px;  
}
.btn-zoomin{
    color:white;
    min-height:34px;
    border-radius:0 !important;
    border:none !important;
    float:left;
    margin-bottom:20px;
    background-color:orange !important;
    width : 55px;   
}
.glyphicon-search{
    font-size:15px;
    color:white;
}
.btn-favorite{
    min-height:34px;
    border-radius:0 !important;
    border:none !important;
    float:left;
    margin-bottom:20px;
    background-color:#fc8e0f !important;
}
.glyphicon-star{
    font-size:15px;
    color:white;
}
.glyphicon-zoom-in{
    color:white;
}
.showing {
    position:absolute;
    bottom: 50px;
    left: 50px;
    height: auto;
    width: 100px;
    background:#2E3732;
    color: #FFFFFF;
    display:none;
    text-shadow: none;
    z-index: 1000;
    padding: 20px;
    line-height: 19px;
    text-align: justify;
    opacity: 0.8;

}








/*

    Timetable #new
    new.html.erb

*/

.timetable_new_container
{
    width:1000px;
    margin : 10px auto;
    margin-bottom: 20%;
    .add_form_box{
        border-radius : 3px;
        background-color: #ecf0f1;
        padding : 20px;
        width:500px;
        margin : 10px auto;
    }
}





/*                                    */
/*   timetableController # timetable  */
/*   시간표 뷰 입니다.                       */
/*                                    */


/* timetable의 삭제, 복사, 공유 버튼 container */
.timetable_btn_container
{
    display:inline-block;
    right:0;
    position:absolute;
    .timetable_btn
    {
        display:inline-block;
        max-width:180px;
        
        .del_btn
        {
            background-color:#e00000;
            max-width:90px;
            border-radius:0;
            float:left;
            border:none;
        }
        .download_btn
        {
            background-color:#009ce6;
            max-width:90px;
            border-radius:0;
            float:left;
            border:none;
        }
    }
    .copy_btn
    {
            background-color:#555555;
            max-width:90px;
            border-radius:0;
            float:left;
            border:none;
    }
}




.table > thead > tr > th, .table > thead > tr > td,
 .table > tbody > tr > th, 
  .table > tfoot > tr > th, .table > tfoot > tr > td
{
    border:0;
}
.table > tbody > tr > td
{
    border : 1px solid #ecf0f1;
}

.table
{
    border:0;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 0;
}

.table_search tbody tr:hover, .lessons > .table-striped > tbody > tr > td > span > a{
  cursor: pointer;
}


/* duplicated 클래스가 캐스캐이딩 기준으로 c클래스의 style의 우선순위보다 높아지기 위함 */
.lessons > #timetable > tbody > tr > td.duplicated
{
    background : #e00000 !important;
    color : white;
    border : 0;
}

.lessons > #timetable > tbody > tr > td.temporary_fill
{
    background : #009ce6 !important;
    color : white;
}

.lessons > #timetable > tbody > tr > td.not_duplicated
{
    background : #eeeeee;
}

.timetable_container
{
    width:64%;
    float:left;
    position:relative;
    .timetable_name_box
    {
        display :inline-block;
        
        span
        {
            width:15px;
            height:15px;
        }
    }

    .name_edit_btn
    {
        display: inline-block;
    }

    .timetable_semester
    {
        display :inline-block;
        margin-left : 25px;
        color : #cbd4db;    
    }

    .total_credits
    {
        display : inline-block;
    }

    
    .lessons
    {

        td {
            height:32px;
            word-break: break-all;
            .duplicated
            {
                background-color : #fff3f2 !important;
            }
        }
        .c0{
            background-color : $bg_1 !important;
            color : $ft_1; 
        }   
        .c1{
            background-color : $bg_2 !important;
            color : $ft_2;
        }   
        .c2{
            background-color : $bg_3 !important;
            color : $ft_3;
        }   
        .c3{
            background-color : $bg_4 !important;
            color : $ft_4;
        }
        .c4{
            background-color : $bg_5 !important;
            color : $ft_5;
        }
        .c5{
            background-color : $bg_6 !important;
            color : $ft_6;          
        }
        .c6{
            background-color : $bg_7 !important;
            color : $ft_7;          

        }
        .c7
        {
            background-color : $bg_8 !important;
            color : $ft_8;          

        }
        .c8
        {
            background-color : $bg_9 !important;
            color : $ft_9;          

        }
        .c9
        {
            background-color : $bg_10 !important;
            color : $ft_10;          

        }


        .lec{}
        .lec_box
        {
            position:relative;

            .lec_place, .lec_professor, .lec_name {
                width:99%;      
            }
            .lec_name
            {
                font-size :13px;
                font-weight : bold;
            }
            .lec_professor, .lec_place
            {
                font-size:12px;
            }
            

            .del_btn {
                cursor : pointer;
                top   : 0;
            }
            

            a{
                color : #333333;
                
                .info_btn{
                cursor : pointer;
                top: 20px;
                }   
            }

            .glyphicon {
                right : 0;
                position:absolute;
            }   
        }
    }
}

/* 
 * my_cart_container
*/

.my_cart_container
{
    table
    {
        width:80%;
    }
    table > tr > td
    {
        word-break : break-all;
    }
}


/* detailsearch */
div.detailsearch{
    text-align:center;
}



















