<hr>
<span class="footerSpan">Copyright &copy; 2015 by OpenYearRound. Inc. All rights reserved</span>
<span class="pageList">
	<ul>
		<li>OpenYearRound</li>
		<li><a href="https://www.facebook.com/AppFethering/?fref=ts" target="_blank">아뭐듣지페북페이지</a></li>
		<li><a href="/support">문의하기</a></li>
	</ul>
</span>