<nav class="navbar" role="navigation" style="border-radius:0" id="topMenu">

       <ul>
         <li id="logo" class="topMenuLi"><a class="menuLink" href="/home">아뭐듣지</a></li>
         <%= render 'layouts/header_timetable_dropdown'%>
         <li class="topMenuLi"><a class="menuLink" href='/forcingwritting'>강의평가하기</a></li>
         <li class="topMenuLi"><a class="menuLink" href="/newsfeed">강의평가열람</a></li>
         <li class="topMenuLi"><a class="menuLink" href="http://goo.gl/forms/f0PwUbUQIu" target="_blank">피드백</a></li>
         <% if current_user %>

               <% unless current_user.nickname.nil? %>


                <li class="topMenuLog">
                  <a class="menuLink" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.nickname%>님 <span class="caret"></span></a>
                       <ul id="dropdown" class="dropdown-menu" style="left:auto; right:0">
                           <li><%=link_to "별명 바꾸기", edit_user_path(current_user), class: :droplist%></li>
                           <li role="separator" class="divider "></li>
                           <li><a href="/signout" class="droplist">Sign Out</a></li>
                       </ul>
                   </li>
                   

               <% end %>
        
        <% else %> 
              <li class="topMenuLog">
                <a class="menuLink" href="/login">로그인</a>
              </li>
        <%end%>
       </ul>
</nav>


<script>
  $('.dropdown-toggle').dropdown()
</script>