

  <nav class = "blue lighten-2">
    <div class="nav-wrapper">
      <div class = "container">
        <a href="/" class="brand-logo left">아뭐듣지</a>
        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
        <ul class="right">
          <%= render 'layouts/nav_contents' %>
        </ul>
        <!-- <ul class="side-nav" id="mobile-demo"> -->
          <%#= render 'layouts/nav_contents' %>
        <!-- </ul> -->
      </div>
    </div>
  </nav>



<script>

  $( document ).ready(function(){
    $('.dropdown-button').dropdown(
      {
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
      }
    );
    $(".button-collapse").sideNav();

  });




</script>
