<!-- Dropdown Trigger -->
 <a class='dropdown-button' href='#' data-activates='dropdown1'>시간표</a>

 <!-- Dropdown Structure -->
 <ul id='dropdown1' class='dropdown-content'>
   <% if current_user && current_user.timetables %>
      <% current_user.timetables.each do |timetable| %>
       <li>
         <% if timetable.id %>
           <a href="<%= timetable_path(timetable) %>">
             <%= timetable.name %>
           </a>
         <% end %>
       <% end %>
      </li>
   <% end %>
   <li class="divider"></li>
   <li><%= link_to "시간표 추가하기", new_timetable_path, method: :get %></li>
 </ul>
